@font-face {
    font-family: 'anime';
    src: url('Anime.otf');
}

.header{
    display:flex;
    align-items: center;
    justify-content: center;
    width:auto;
    height:200px;
    font-family: "anime";
    font-size:30px;
    color:gold
}

.question{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.q1Before{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top:15px;
    padding-left:30px;
    margin-top:10px;
    width:800px;
    height:200px;
    border: 2px solid black;
}

.q1After{
    height:100px;
}

.article1{
    padding-right:10px;
}

.article1None{
    display: none;
}


.q1Sub{
    display:flex;
    gap:250px;
}


.q1Before button{
    margin-top:8px;
    width:50px;
    height:50px;
}

.q2Before{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top:15px;
    padding-left:30px;
    margin-top:10px;
    width:800px;
    height:200px;
    border: 2px solid black;
}

.q2Sub{
    display:flex;
    gap:250px;
}


.q2Before button{
    margin-top:8px;
    width:50px;
    height:50px;
}

.q2After{
    height:100px;
}

.article2{
    padding-right:10px;
}

.article2None{
    display: none;
}

.q3Before{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top:15px;
    padding-left:30px;
    margin-top:10px;
    width:800px;
    height:200px;
    border: 2px solid black;
}

.q3Sub{
    display:flex;
    gap:250px;
}


.q3Before button{
    margin-top:8px;
    width:50px;
    height:50px;
}

.q3After{
    height:100px;
}

.article3{
    padding-right:10px;
}

.article3None{
    display: none;
}

.pic1{
    padding-top: 5px;
    width:20px;
    height:20px;
}

.pic2{
    padding-top: 5px;
    width:20px;
    height:20px;
}

.pic3{
    padding-top: 5px;
    width:20px;
    height:20px;
}